<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>To do List</title>
  </head>
  <body>
    <% if(message != "") { %> 
      <%- include('./components/message', {type: type,
    message: message}) %> 
    <% } %>

    <header>
      <%- include('./components/aboutAuthor') %> <% if (task == null) { %> 
        
      <%- include('./components/form', { titleForm: "TO DO LIST", action: "/create",
      value: "", idBtn: "addButon", nameBtn: "Adicionar"}) %> <% } else { %>
      <%- include('./components/form', { titleForm: "EDITAR TAREFA", action:
      `/updateOne/${task._id}`, value: task.task, idBtn: "updateButton",
      nameBtn: "Atualizar"}) %> 
      <% } %>
    </header>

    <section id="tasks">
      <ul id="taskList">
        <% tasksList.forEach((task) => { %>
        <li class="check-<%= task.check %>">
          <div>
            <a
              href="/check/<%= task._id %>"
              class="check-<%= task.check %>"
              id="taskLink"
            >
              <%= task.task %>
            </a>
            <span>Criado em <%= task.date.toLocaleDateString('pt-BR') %></span>
          </div>

          <div>
            <a class="btnUpdate" href="/getById/<%= task._id %>/update"
              ><i class="material-icons">edit</i></a
            >
            <a class="btnDelete" href="/getById/<%= task._id %>/delete"
              ><i class="material-icons">delete</i></a
            >
          </div>
        </li>
        <% }) %>
      </ul>
    </section>

    <% if (taskDelete != null) { %> <%- include('./components/modalDel', {task:
    taskDelete}) %> <% } %>

    <script src="script.js"></script>
  </body>
</html>
